.content {
  padding: 0 70px;
  box-sizing: border-box;
  border: 1px solid blue;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 0 50px;
  }
}

@media screen and (max-width: 500px) {
  .content {
    padding: 0;
  }
}