.profile {
  box-sizing: border-box;
  padding: 74px 0 70px;
  margin: 0 auto;
}

.profile__content {
  max-width: 410px;
  margin: 0 auto;
  text-align: center;
}

.profile__title {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.profile__list {
  list-style-type: none;
  margin: 123px 0 220px;
  padding: 0;
}

.profile__list-element {
  box-sizing: border-box;
}

.profile__list-element:last-child {
  padding-top: 17px;
}

.profile__list-element:first-child {
  padding-bottom: 16px;
  border-bottom: #E8E8E8 1px solid;
}

.profile__label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.profile__element {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
}

.profile__input {
  text-align: right;
  border: none;
  color: #000;
  background: none;
  padding: 0;
  outline: none;
}

.profile__input:invalid {
  color: #FF4062;
}

.profile__element:first-child {
  font-weight: 500;
  font-size: 11px;
}

.profile__button {
  width: 100%;
  padding: 0;
  border: none;
  background: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  text-decoration: none;
  display: block;
}

.profile__logout-button {
  color: #FF4062;
  margin-top: 16px;
  font-weight: 500;
}

.profile__button-of {
  display: none;
}

.profile__button-container {
  position: relative;
}

.profile__save-button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 13px 0 15px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #C2C2C2;
  background-color: #F8F8F8;
  border-radius: 3px;
}

.profile__save-button_activ {
  background: #3456F3;
  color: #FFF;
}

.profile__error-message {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: -20px;
  margin-bottom: 20px;
  white-space: nowrap;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #FF4062;
}

@media screen and (max-width: 924px) {
  .profile {
    padding: 236px 0 269px;
  }

  .profile__content {
    max-width: 410px;
  }

  .profile__list {
    margin: 96px 0 210px;
  }
}

@media screen and (max-width: 577px) {
  .profile {
    padding: 70px 0 40px;
  }

  .profile__content {
    box-sizing: border-box;
    padding: 0 30px;
    max-width: 400px;
  }

  .profile__list {
    margin: 80px 0 379px;
  }

  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }
}