.search {
  box-sizing: border-box;
  padding: 70px 0;
}

.search__form-element {
  /* background-color: #FDFDFD; */
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  box-sizing: border-box;
  padding: 0 30px 0 19px;
}

.search__form {}

.search__box {
  display: flex;
  align-items: center;
}

.search__f {
  box-sizing: border-box;
  padding-left: 29px;
  border-left: 1px solid #CBCBCB;
  display: flex;
}

.search__icon-add {
  margin-right: 14px;
}

.search__name {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}