.menu {
  border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: black;
  margin: auto;
}

.menu__text-bold {
  font-weight: 500;
}

.menu__text {
  margin: 0 16px;
  font-weight: 400px;
}

.menu__avatar-container {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #F9F9F9;
  box-sizing: border-box;
  display: flex;
  margin-left: 13px;

}

.menu__avatar {
  width: 10.38px;
  height: 10.66px;
}

@media screen and (max-width: 924px) {}

@media screen and (max-width: 577px) {}