.navigation {
  box-sizing: border-box;
  padding: 110px 70px;
}

.navigation__container {
  box-sizing: border-box;
  padding: 70px 0 110px;
  display: flex;
  justify-content: space-between;
}

.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation__list:last-child {
  margin: 0 0 0 40px;
}

.navigation__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 26px;
}

.navigation__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.navigation__table {
  display: flex;
  text-align: center;
}

.navigation__table:last-child {
  box-sizing: border-box;
  margin: 0;
  padding: 14px 0 0;
}

.navigation__cell {
  box-sizing: border-box;
  color: #A0A0A0;
  width: 228px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0 14px;
}

.navigation__cell:last-child {
  width: 912px;
}

.navigation__week {
  margin: 0;
  color: #FFF;
  padding: 9px 14px;
  background-color: #000;
}

.navigation__week:last-child {
  background-color: #F2F2F2;
  color: #000;
}

@media screen and (max-width: 924px) {
  .navigation {
    padding: 90px 50px;
  }

  .navigation__container {
    padding: 70px 0 93px;
  }

  .navigation__list:last-child {
    margin: 0 0 0 30px;
  }

  .navigation__subtitle {
    margin: 0 0 23px;
  }

  .navigation__text {
    font-size: 12px;
    line-height: 18px;
  }

  .navigation__cell {
    width: 140px;
  }

  .navigation__cell:last-child {
    width: 100%;
  }

  .navigation__week {
    padding: 9px 10px;
  }
}

@media screen and (max-width: 577px) {
  .navigation {
    padding: 70px 18px;
  }

  .navigation__container {
    padding: 60px 0;
    flex-direction: column;
  }

  .navigation__list:last-child {
    margin: 56px 0 0 0;
  }

  .navigation__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 16px;
  }

  .navigation__text {
    font-size: 11px;
    line-height: 16px;
  }

  .navigation__table:last-child {
    padding: 10px 0 0;
  }

  .navigation__cell {
    width: 100px;
    font-size: 11px;
    line-height: 13.31px;
    padding: 0 10px;
  }

  .navigation__week {
    padding: 11px 10px;
  }
}